:root {
    --red70: rgba(253, 112, 103, 70%);
    --yellow100: rgba(255, 224, 131, 100%);
    --black100: rgba(52, 42, 12, 100%);
    --yellow50: rgba(255, 224, 131, 50%);
    --red50: rgba(253, 112, 103, 50%);
}
