:root {
    --red100: rgba(253, 112, 103, 100%);
    --red70: rgba(253, 112, 103, 70%);
    --yellow100: rgba(255, 224, 131, 100%);
    --black100: rgba(52, 42, 12, 100%);
    --black60: rgba(52, 42, 12, 60%);
    --yellow50: rgba(255, 224, 131, 50%);
    --red50: rgba(253, 112, 103, 50%);
    --white100: rgba(255, 255, 255, 100%);
}
